<html>
<head>
<title>Our First Try </title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/css/style.css') }}" />
<script type="text/javascript" src="assets/js/script.js"></script>
</head>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<body>
	<div id="container">
	<div id="header1"> The Vocab</div>
	<div id="header2"> Of Professor DeNero</div>
	<form action="" method = "post">
		<input type = "text" placeholder = "Search..." name = "search" value = "{{request.form.search}}">
		<input type="button" value="Search">
	</form>

	{% if error %}
		<p>Error: {{ error }}</p>
	{% endif %}
	<!-- 
	<form name = "search" action="" method="Post">
                                <input type="text" name = "texter" placeholder="Search..." required>
                                <input type="button" value="Search>
	</form>
	<div id="searchR"></div>
	 -->
</body>



